In [129]:
import pandas as pd

In [130]:
df = pd.read_csv("final_startup_dataset_v2.csv")
df.head()

,name,category_list,funding_total_usd,country_code,state_code,founded_at,funding_rounds,first_funding_at,last_funding_at,status
0,1 Mainstream,"['Apps', 'Cable', 'Distribution', 'Software']",5000000,USA,CA,2012-03-01,1,2015-03-17,2015-03-17,acquired
1,1000 Markets,"['Art', 'E-Commerce', 'Marketplaces']",500000,USA,WA,2009-01-01,1,2009-05-15,2009-05-15,acquired
2,1000memories,['Curated Web'],2535000,USA,CA,2010-07-01,2,2010-01-01,2011-02-16,acquired
3,100Plus,['Analytics'],1250000,USA,CA,2011-09-16,2,2011-11-02,2011-11-30,acquired
4,1010data,['Software'],35000000,USA,NY,2000-01-01,1,2010-03-08,2010-03-08,acquired

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13959 entries, 0 to 13958
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               13958 non-null  object
 1   category_list      12873 non-null  object
 2   funding_total_usd  13959 non-null  object
 3   country_code       11968 non-null  object
 4   state_code         11750 non-null  object
 5   founded_at         10227 non-null  object
 6   funding_rounds     13959 non-null  int64
 7   first_funding_at   13957 non-null  object
 8   last_funding_at    13959 non-null  object
 9   status             13959 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.1+ MB

In [132]:
df.isna().sum()

name                    1
category_list        1086
funding_total_usd       0
country_code         1991
state_code           2209
founded_at           3732
funding_rounds          0
first_funding_at        2
last_funding_at         0
status                  0
dtype: int64

In [133]:
df.dropna(inplace=True)

In [134]:
df.isna().sum()

name                 0
category_list        0
funding_total_usd    0
country_code         0
state_code           0
founded_at           0
funding_rounds       0
first_funding_at     0
last_funding_at      0
status               0
dtype: int64

In [135]:
df.shape

(8940, 10)

In [136]:
import ast
df["category_list"] = df["category_list"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else [])
categories = df["category_list"].explode()
category_counts = categories.value_counts()
categories_to_keep = category_counts[category_counts >= 100].index.tolist()
for category in categories_to_keep:
    df[category] = df["category_list"].apply(lambda x: 1 if category in x else 0)
df.drop(columns=["category_list"], inplace=True)

In [137]:
df.head()

,name,funding_total_usd,country_code,state_code,founded_at,funding_rounds,first_funding_at,last_funding_at,status,Software,...,Music,News,Travel,Web Development,iPhone,Fashion,Entertainment,Media,Manufacturing,Android
0,1 Mainstream,5000000,USA,CA,2012-03-01,1,2015-03-17,2015-03-17,acquired,1,...,0,0,0,0,0,0,0,0,0,0
1,1000 Markets,500000,USA,WA,2009-01-01,1,2009-05-15,2009-05-15,acquired,0,...,0,0,0,0,0,0,0,0,0,0
2,1000memories,2535000,USA,CA,2010-07-01,2,2010-01-01,2011-02-16,acquired,0,...,0,0,0,0,0,0,0,0,0,0
3,100Plus,1250000,USA,CA,2011-09-16,2,2011-11-02,2011-11-30,acquired,0,...,0,0,0,0,0,0,0,0,0,0
4,1010data,35000000,USA,NY,2000-01-01,1,2010-03-08,2010-03-08,acquired,1,...,0,0,0,0,0,0,0,0,0,0

In [138]:
df.shape

(8940, 51)

In [139]:
df['Software'].value_counts()

Software
0    7344
1    1596
Name: count, dtype: int64

In [140]:
df['Music'].value_counts()

Music
0    8809
1     131
Name: count, dtype: int64

In [141]:
import pandas as pd

# Convert columns to datetime with the specific format 'DD-MM-YYYY'
df['founded_at'] = pd.to_datetime(df['founded_at'], format='%Y-%m-%d', errors='coerce')
df['first_funding_at'] = pd.to_datetime(df['first_funding_at'], format='%Y-%m-%d', errors='coerce')
df['last_funding_at'] = pd.to_datetime(df['last_funding_at'], format='%Y-%m-%d', errors='coerce')

# Calculate the age at first funding (difference between first funding date and founding date)
df['age_at_first_funding'] = (df['first_funding_at'] - df['founded_at']).dt.days // 365

# Calculate the age at last funding (difference between last funding date and founding date)
df['age_at_last_funding'] = (df['last_funding_at'] - df['founded_at']).dt.days // 365

df.head()

,name,funding_total_usd,country_code,state_code,founded_at,funding_rounds,first_funding_at,last_funding_at,status,Software,...,Travel,Web Development,iPhone,Fashion,Entertainment,Media,Manufacturing,Android,age_at_first_funding,age_at_last_funding
0,1 Mainstream,5000000,USA,CA,2012-03-01,1,2015-03-17,2015-03-17,acquired,1,...,0,0,0,0,0,0,0,0,3,3
1,1000 Markets,500000,USA,WA,2009-01-01,1,2009-05-15,2009-05-15,acquired,0,...,0,0,0,0,0,0,0,0,0,0
2,1000memories,2535000,USA,CA,2010-07-01,2,2010-01-01,2011-02-16,acquired,0,...,0,0,0,0,0,0,0,0,-1,0
3,100Plus,1250000,USA,CA,2011-09-16,2,2011-11-02,2011-11-30,acquired,0,...,0,0,0,0,0,0,0,0,0,0
4,1010data,35000000,USA,NY,2000-01-01,1,2010-03-08,2010-03-08,acquired,1,...,0,0,0,0,0,0,0,0,10,10

In [142]:
df.shape

(8940, 53)

In [ ]:
df[df["age_at_first_funding"] < 0].shape[0]

666

In [145]:
df[df["age_at_last_funding"] < 0].shape[0]

327

In [146]:
df = df[df["age_at_first_funding"] >= 0]
df = df[df["age_at_first_funding"] >= 0]

In [147]:
df.shape

(8274, 53)